<div class="wrapper">
    <div class="form-header">
        <p class="title">{{ !isEditForm ? 'THÊM SẢN PHẨM MỚI' : 'CẬP NHẬT SẢN PHẨM' }}</p>
    </div>
    <form [formGroup]="addForm" class="form-wrapper">
        <div class="form-content-wrapper">
            <div class="box-field barcode-box">
                <p class="box-field">Barcode</p>
                <textarea
                    type="text"
                    name="barcode"
                    rows="4"
                    ngDefaultControl
                    formControlName="barcode"
                    cols="50"
                    (blur)="handleGetProductByBarcode()"
                ></textarea>
            </div>

            <div class="box-field">
                <p class="box-title">Tên sản phẩm</p>
                <textarea
                    type="text"
                    name="productName"
                    rows="4"
                    ngDefaultControl
                    cols="50"
                    formControlName="productName"
                    [disabled]="true"
                ></textarea>
            </div>

            <div class="box-field">
                <p class="box-title">Giá bán</p>
                <textarea
                    type="text"
                    name="Price"
                    rows="4"
                    ngDefaultControl
                    cols="50"
                    formControlName="Price"
                ></textarea>
            </div>

            <div class="box-field">
                <p class="box-title">Giá gốc</p>
                <textarea
                    type="text"
                    name="PriceBase"
                    rows="4"
                    ngDefaultControl
                    cols="50"
                    formControlName="PriceBase"
                ></textarea>
            </div>

            <div class="box-field">
                <p class="box-title">Giá VIP</p>
                <textarea
                    type="text"
                    name="PriceVIP"
                    rows="4"
                    ngDefaultControl
                    cols="50"
                    formControlName="PriceVIP"
                ></textarea>
            </div>

            <div class="box-field">
                <p class="box-title">Tên gốc</p>
                <textarea
                    type="text"
                    name="OrginalName"
                    rows="4"
                    ngDefaultControl
                    cols="50"
                    formControlName="OrginalName"
                ></textarea>
            </div>

            <div class="box-field">
                <p class="box-title">Discount</p>
                <textarea
                    type="text"
                    name="Discount"
                    rows="4"
                    ngDefaultControl
                    cols="50"
                    formControlName="Discount"
                ></textarea>
            </div>

            <div class="product-properties">
                <div class="property-item">
                    <kendo-label [for]="isNew" text="isNew"></kendo-label>
                    <input type="checkbox" kendoCheckBox formControlName="isNew" #isNew />
                </div>

                <div class="property-item">
                    <kendo-label [for]="isHachi24h" text="isHachi24h"></kendo-label>
                    <input type="checkbox" kendoCheckBox formControlName="isHachi24h" #isHachi24h />
                </div>

                <div class="property-item">
                    <kendo-label [for]="isBestPrice" text="isBestPrice"></kendo-label>
                    <input type="checkbox" kendoCheckBox formControlName="isBestPrice" #isBestPrice />
                </div>
            </div>

            <div class="product-properties">
                <div class="property-item">
                    <kendo-label [for]="isSpecial" text="isSpecial"></kendo-label>
                    <input type="checkbox" kendoCheckBox formControlName="isSpecial" #isSpecial />
                </div>

                <div class="property-item">
                    <kendo-label [for]="isGift" text="isGift"></kendo-label>
                    <input type="checkbox" kendoCheckBox formControlName="isGift" #isGift />
                </div>

                <div class="property-item">
                    <kendo-label [for]="isPromotion" text="isPromotion"></kendo-label>
                    <input type="checkbox" kendoCheckBox formControlName="isPromotion" #isPromotion />
                </div>
            </div>

            <div *ngIf="isEditForm" class="product-img">
                <img
                    *ngIf="isEditForm"
                    width="250px"
                    height="250px"
                    src="https://lapson.vn{{ isEditForm ? selectedItem.ImageThumb : '' }}"
                />
            </div>
        </div>
        <div class="action-wrapper">
            <button class="close-btn" type="button" (click)="togglecloseForm()">ĐÓNG</button>
            <button class="update-btn" (click)="handleEditProduct()">Lưu</button>
        </div>
    </form>
</div>
