<div class="form-container staff-detail-wrapper">
    <p class="wrapper-title">1. THÔNG TIN NHÂN VIÊN</p>
    <div class="inputs-container">
        <div class="field-box">
            <label class="input-title">Mã nhân viên</label>
            <input type="text" />
        </div>

        <div class="field-box">
            <label class="input-title">Điểm làm việc</label>
            <input type="text" />
        </div>

        <div class="field-box">
            <label class="input-title">Người quản lý trực tiếp</label>
            <input type="text" />
        </div>

        <div class="field-box">
            <label class="input-title">Đơn vị công tác</label>
            <input type="text" />
        </div>

        <div class="field-box">
            <label class="input-title">Loại nhân viên</label>
            <input type="text" />
        </div>

        <div class="field-box">
            <label class="input-title">Người quản lý gián tiếp</label>
            <input type="text" />
        </div>

        <div class="field-box">
            <label class="input-title">Chức danh</label>
            <input type="text" />
        </div>

        <div class="field-box">
            <label class="input-title">Ngày vào làm chính thức</label>
            <input type="text" />
        </div>

        <div class="field-box">
            <label class="input-title">Email</label>
            <input type="text" />
        </div>

        <div class="field-box">
            <label class="input-title">Nhóm chức danh</label>
            <input type="text" />
        </div>

        <div class="field-box">
            <label class="input-title">Tình trạng</label>
            <input type="text" />
        </div>
    </div>

    <div class="personal-info-container"></div>
</div>
<div class="form-container permission-system-wrapper">
    <p class="wrapper-title">2. PHÂN QUYỀN SỬ DỤNG HỆ THỐNG</p>
    <div class="inputs-container">
        <div class="field-box">
            <label class="input-title">Tên đăng nhập</label>
            <input type="text" />
        </div>

        <div class="field-box">
            <label class="input-title">Vai trò sử dụng tài nguyên hệ thống</label>
            <div style="display: flex">
                <input type="text" />
                <div class="button-wrapper">
                    <button class="add-button">
                        <img src="../../../../assets/icon/AddIcon.svg" />
                        <p class="text">THÊM</p>
                    </button>
                </div>
            </div>
        </div>

        <div class="field-box">
            <label class="input-title">Thiết lập lại mật khẩu</label>
            <input type="password" />
        </div>
    </div>

    <div class="personal-info-container"></div>
</div>
