.location-list-wrapper {
    margin-top: 12px;
    padding-right: 27px;
    height: 100%;
}

::ng-deep .location-list-wrapper {
    .k-grid {
        background-color: #edeff3;
        border-width: unset;
        border-style: unset;
        height: 100%;
    }

    .k-grid-content {
        overflow-y: unset;
        background-color: unset;
    }

    .k-table-row {
        background-color: white !important;

        &:hover {
            background-color: rgba(26, 102, 52, 0.33) !important;
        }
    }

    .k-table-row.k-selected > .k-table-td {
        background-color: #1a6634;
    }

    .k-grid .k-table-tbody > .k-table-row:not(.k-detail-row):hover,
    .k-grid .k-table-tbody > .k-table-row:not(.k-detail-row).k-hover {
        background-color: unset;
    }

    .k-table {
        border-collapse: collapse;
    }

    .k-table-td {
        border-color: unset !important;
        border-block-end-width: unset !important;
        border-inline-start-width: unset !important;
        border-style: unset !important;
        padding-inline: unset;
        padding-block: unset;
        // padding-top: 20px;
        // padding-bottom: 16px;
        height: 58px;
        width: 100%;
        &:last-child {
            border-left: 1px solid #edeff3 !important;
            text-align: center;
            height: 58px;
        }

        .box-icon {
            cursor: pointer;
            height: 24px;
        }
    }

    .k-text-nowrap {
        display: flex;
    }
    .k-table-row {
        border-top: 4px solid #edeff3;
        border-bottom: 4px solid #edeff3;
        position: relative;
    }

    .k-icon {
        padding-left: 23px;
        height: 100%;
    }

    .location-icon {
        padding-left: 17px;
        padding-right: 9px;
    }

    .k-i-caret-alt-down::before {
        content: url('../../../assets/icon/DownArrow.svg');
        cursor: pointer;
    }

    .k-i-caret-alt-right::before {
        cursor: pointer;
        content: url('../../../assets/icon/UpArrow.svg');
    }

    .text-name {
        color: #5a6276;
        font-weight: 400;
    }

    .text-id {
        color: #26282e;
        font-weight: 400;
        width: 147px;
    }

    .isLeader {
        padding-left: 94px;
        color: #26282e;
        font-weight: 400;
    }

    .menu-wrapper {
        position: absolute;
        right: 3.5%;
        top: 15%;
        z-index: 2;
    }

    .see-more {
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        height: 100%;
        margin-top: 20px;
        .box-icon {
            img {
                // margin-bottom: 100%;
            }
        }
    }

    .active {
        background-color: #1a6634;
        color: white !important;
    }

    .info-wrapper {
        display: flex;
        align-items: center;
        width: 100%;
    }
}

.child-text {
    margin-left: 20px;
}

.active-popup {
    background-color: #bdc2d2;
    box-shadow: 0px 5px 6px 0px #5a62764d;
    width: 27px;
    height: 24px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

.wrapper {
    background-color: #bdc2d2;
    width: 195px;
    box-shadow: 0px 5px 6px 0px #5a62764d;
    border-top-left-radius: 5px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    .item-wrapper {
        display: flex;
        gap: 15px;
        color: white;
        padding: 8px 0 7px 11px;
        cursor: pointer;

        .text {
            font-size: 13px;
            color: white;
            font-weight: 400;
        }

        &:hover {
            background-color: #959db3;
        }
    }
}

::ng-deep .location-form-drawer .k-drawer-container {
    .k-drawer {
        flex-basis: 417px;
        position: fixed;
        z-index: 9999999;
        height: 100vh;
        padding-top: 50px;
        background-color: white !important;
    }

    .k-drawer-wrapper {
        width: 420px !important;
    }
}

.parent {
    font-weight: 700;
}
