.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    ul {
        text-align: justify;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 20%;
    }
}

input {
    border: 1px solid black;
}
