div {
    margin: 20px;
}
input {
    padding: 10px;
    border: 1px solid black;
}
button {
    margin-left: 5px;
    padding: 10px;
}
ul {
    list-style-type: none;
}
li {
    padding: 5px;
    border-bottom: 1px solid lightgrey;
}
