<div class="product-form-drawer">
    <kendo-drawer-container>
        <kendo-drawer #drawer expandMode="expandMode" [expanded]="expanded" [position]="position">
            <ng-template #drawerContent kendoDrawerTemplate>
                <app-add-product-form
                    (handlePostAddAPI)="handlePostAddAPI($event)"
                    (handlePostEditAPI)="handlePostEditAPI($event)"
                ></app-add-product-form>
            </ng-template>
        </kendo-drawer>
    </kendo-drawer-container>
    <button kendoButton (click)="handleToggle()">Toggle Drawer</button>
</div>
