.find-btn {
    background-color: #008000;
    position: relative;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    width: 52px;
    border-radius: 4px;
    height: 29px;
    .icon {
        position: absolute;
        top: 6px;
        left: 6px;
    }
}
