<div class="wrapper">
    <div class="header-container">
        <div class="header-title">
            <p class="title">THÔNG TIN COUPON</p>
            <p class="text">Coupon giảm giá đơn hàng</p>
        </div>
        <div class="languages-box">
            <span [class.active]="formLanguages == 'vietnamese'" class="language" (click)="onVietnamese()"
                >Tiếng Việt</span
            >
            <span [class.active]="formLanguages == 'japanese'" class="language" (click)="onJapanese()">日本語</span>
            <span [class.active]="formLanguages == 'english'" class="language" (click)="onEnglish()">English</span>
        </div>
    </div>
    <form
        class="k-form coupon-form"
        [formGroup]="
            formLanguages == 'japanese'
                ? couponJapaneseForm
                : formLanguages == 'english'
                ? couponEnglishForm
                : couponForm
        "
    >
        <div class="form-wrapper">
            <fieldset class="k-form-fieldset left-form">
                <div class="coupon-id-quantity" style="display: flex; justify-content: space-between">
                    <kendo-formfield>
                        <p class="label">Mã bắt đầu coupon</p>
                        <input class="input id-input" formControlName="couponID" kendoTextBox #couponID />
                    </kendo-formfield>
                    <kendo-formfield>
                        <p class="label">SL phát hành</p>
                        <input
                            style="text-align: right"
                            class="input quantity-input"
                            formControlName="quantity"
                            kendoTextBox
                            #quantity
                        />
                    </kendo-formfield>
                </div>

                <kendo-formfield>
                    <div class="random-coupon" style="display: flex; align-items: flex-end; gap: 10px">
                        <input class="checkbox-input" #isRandom type="checkbox" kendoCheckBox />

                        <p class="label">Mã coupon ngẫu nhiên gấp (x) lần</p>
                    </div>
                    <input class="input" formControlName="randomCoupon" kendoTextBox #randomCoupon />
                </kendo-formfield>

                <kendo-formfield>
                    <div class="value-coupon" style="display: flex; justify-content: space-between">
                        <p class="label">Giá trị coupon</p>
                        <div class="" style="display: flex; gap: 10px; align-items: flex-end">
                            <input #isPercent class="checkbox-input" type="checkbox" kendoCheckBox />

                            <p class="label">tỷ lệ %</p>
                        </div>
                    </div>
                    <input class="input" formControlName="couponValue" kendoTextBox #couponValue />
                </kendo-formfield>

                <div>
                    <p class="label">Thời gian hiệu lực</p>
                    <div style="display: flex; gap: 11px; padding-top: 12px">
                        <app-customized-calender
                            [dateValue]="couponForm.controls['startDate'] | castForm"
                            (onDatePicked)="startDatePicked($event)"
                        ></app-customized-calender>
                        <app-customized-calender
                            [dateValue]="couponForm.controls['endDate'] | castForm"
                            (onDatePicked)="endDatePicked($event)"
                        ></app-customized-calender>
                    </div>
                </div>

                <p class="label">Tình trạng</p>
                <p class="label approve">Đã phê duyệt áp dụng</p>
            </fieldset>

            <fieldset class="k-form-fieldset right-form">
                <kendo-formfield>
                    <p class="label">Tên coupon</p>
                    <input class="input" formControlName="couponName" kendoTextBox #couponName />
                </kendo-formfield>

                <kendo-formfield>
                    <p class="label">Mô tả điều kiện áp dụng</p>
                    <input class="input" formControlName="conditionDesc" kendoTextBox #conditionDesc />
                </kendo-formfield>

                <kendo-formfield>
                    <p class="label">Diễn giải</p>
                    <textarea
                        class="input explain-input-style"
                        formControlName="explain"
                        kendoTextBox
                        #explain
                    ></textarea>
                </kendo-formfield>
            </fieldset>
        </div>
    </form>
</div>
