<div class="wrapper">
    <app-filter-bar [filterBoxItems]="filterBoxItems"></app-filter-bar>
    <div class="location-wrapper">
        <app-test-lisst [menuItemList]="locationMenuItems" [drawerView]="drawer"></app-test-lisst>
    </div>

    <div class="location-form-drawer">
        <kendo-drawer-container>
            <kendo-drawer #drawer expandMode="expandMode" [expanded]="expanded" [position]="position">
                <ng-template #drawerContent kendoDrawerTemplate>
                    <app-location-form [drawerView]="drawer"></app-location-form>
                </ng-template>
            </kendo-drawer>
        </kendo-drawer-container>
    </div>
</div>
