<div class="wrapper">
    <div class="form-header">
        <img src="../../../assets/icon/ColoredDepartmentIcon.svg">
        <p class="title">{{formType == 'editChildLocation' ? 'THÔNG TIN ĐIỂM LÀM VIỆC CON' : formType == 'addLocation' ? 'THÊM ĐIỂM LÀM VIỆC' : 'CHỈNH SỬA ĐIỂM LÀM VIỆC'}}</p>
    </div>
    <form [formGroup]="locationForm" class="form-wrapper">
        <div class="form-content-wrapper">
            <div class="box-field">
                <p class="box-title">Tên điểm làm việc</p>
                <textarea
                    type="text"
                    name="LocationName"
                    rows="4"
                    ngDefaultControl
                    formControlName="LocationName"
                    cols="50"
                ></textarea>
            </div>

            <div class="two-box-in-line">
                <div class="box-field">
                    <p class="box-title ">Mã điểm làm việc</p>
                    <textarea
                        type="text"
                        name="LocationID"
                        rows="4"
                        ngDefaultControl
                        cols="50"
                        formControlName="LocationID"
                        class="small-textarea"
                    ></textarea>
                </div>

                <div class="box-field">
                    <p class="box-title">Tên viết tắt</p>
                    <textarea
                        type="text"
                        name="Brieft"
                        rows="4"
                        ngDefaultControl
                        cols="50"
                        formControlName="Brieft"
                    ></textarea>
                </div>
            </div>

            <div class="box-field">
                <p class="box-title">Trực thuộc</p>
                <kendo-dropdownlist #under_dropdown [data]="Under" textField="name" valueField="value" [value]="selectedUnder" (closed)="onClose($event)" (opened)="onOpen($event)" [valuePrimitive]="true" >
                    <ng-template kendoDropDownListValueTemplate let-dataItem>
                        <span class="template">{{ dataItem?.name }}</span>
                        <img class="icon" *ngIf="!under_dropdown._open" src="../../../assets/icon/DownArrow.svg">
                        <img class="icon" *ngIf="under_dropdown._open" src="../../../assets/icon/UpArrow.svg">
                    </ng-template>
                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                        <span class="template">{{ dataItem.name }}</span>
                    </ng-template>
                </kendo-dropdownlist>
            </div>

            <div class="box-field">
                <p class="box-title">Địa chỉ liên hệ</p>
                <textarea
                    type="text"
                    name="Address"
                    rows="4"
                    ngDefaultControl
                    cols="50"
                    formControlName="Address"
                    class="small-textarea"
                    
                ></textarea>
            </div>

            <div class="box-field">
                <p class="box-title">Tỉnh thành</p>
                <kendo-dropdownlist #province_dropdown [data]="Provinces" textField="name" [valuePrimitive]="true" (closed)="onClose($event)" (opened)="onOpen($event)" valueField="value"
                [value]="selectedProvince">
                    <ng-template kendoDropDownListValueTemplate let-dataItem>
                        <span class="template">{{ dataItem?.name }}</span>
                        <img class="icon" *ngIf="!province_dropdown._open" src="../../../assets/icon/DownArrow.svg">
                        <img class="icon" *ngIf="province_dropdown._open" src="../../../assets/icon/UpArrow.svg">
                    </ng-template>
                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                        <span class="template">{{ dataItem.name }}</span>
                    </ng-template>
                </kendo-dropdownlist>
            </div>

            <div class="box-field">
                <p class="box-title">Quận huyện</p>
                <kendo-dropdownlist #district_dropdown [data]="Districts" textField="name" valueField="value" [value]="selectedDistrict" (closed)="onClose($event)" (opened)="onOpen($event)" [valuePrimitive]="true" >
                    <ng-template kendoDropDownListValueTemplate let-dataItem>
                        <span class="template">{{ dataItem?.name }}</span>
                        <img class="icon" *ngIf="!district_dropdown._open" src="../../../assets/icon/DownArrow.svg">
                        <img class="icon" *ngIf="district_dropdown._open" src="../../../assets/icon/UpArrow.svg">
                    </ng-template>
                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                        <span class="template">{{ dataItem.name }}</span>
                    </ng-template>
                </kendo-dropdownlist>
            </div>

            <div class="box-field">
                <p class="box-title">Phường/xã</p>
                <kendo-dropdownlist #ward_dropdown [data]="Wards" textField="name" valueField="value" [value]="selectedWard" (closed)="onClose($event)" (opened)="onOpen($event)" [valuePrimitive]="true" >
                    <ng-template kendoDropDownListValueTemplate let-dataItem>
                        <span class="template">{{ dataItem?.name }}</span>
                        <img class="icon" *ngIf="!ward_dropdown._open" src="../../../assets/icon/DownArrow.svg">
                        <img class="icon" *ngIf="ward_dropdown._open" src="../../../assets/icon/UpArrow.svg">
                    </ng-template>
                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                        <span class="template">{{ dataItem.name }}</span>
                    </ng-template>
                </kendo-dropdownlist>
            </div>

            <div class="box-field">
                <p class="box-title">Mô tả</p>
                <textarea
                    type="text"
                    name="Remark"
                    rows="4"
                    ngDefaultControl
                    cols="50"
                    formControlName="Remark"
                    class="large-description"
                ></textarea>
            </div>
        </div>
        <div class="action-wrapper">
            <button class="close-btn" type="button" (click)="handeCloseForm()">ĐÓNG</button>
            <button class="update-btn">CẬP NHẬT</button>
        </div>
    </form>
</div>
