<div class="wrapper">
    <mat-form-field appearance="fill">
        <mat-label></mat-label>
        <!-- Type 'string' is not assignable to type 'FormControl<any>'. -->
        <input readonly matInput [matDatepicker]="picker" [formControl]="$any(ngControl.control)" ngDefaultControl />
        <!-- <input readonly matInput [matDatepicker]="picker" [formControl]="dateControl | castForm ngDefaultControl /> -->
        <!-- <mat-datepicker-toggle
            id="icon-calendar"
            matSuffix
            [formControl]="$any(ngControl.control)"
            [for]="picker"
            ngDefaultControl
        >
            <mat-icon
                *ngIf="!isOpen"
                matDatepickerToggleIcon
                svgIcon="activeCalendar"
                (click)="$event.stopPropagation(); handleClose()"
            ></mat-icon>
        </mat-datepicker-toggle> -->
        <!-- *ngIf="!isOpen" -->
        <mat-datepicker-toggle
            id="icon-calendar"
            matSuffix
            [formControl]="$any(ngControl.control)"
            [for]="picker"
            ngDefaultControl
            *ngIf="!isOpen"
        >
            <mat-icon
                matDatepickerToggleIcon
                svgIcon="dfCalendar"
                (click)="$event.stopPropagation(); handleOpen()"
            ></mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker-toggle
            id="icon-calendar"
            matSuffix
            [formControl]="$any(ngControl.control)"
            [for]="picker"
            ngDefaultControl
        ></mat-datepicker-toggle>
        <mat-datepicker #picker [calendarHeaderComponent]="exampleHeader" *ngIf="!isOpen"></mat-datepicker>
    </mat-form-field>
    <pre></pre>
</div>
