<div class="wrapper">
    <mat-form-field [ngClass]="isOpen ? 'open' : ''" appearance="fill">
        <mat-label [ngClass]="isOpen ? 'active' : ''">{{ dateValueStr }} {{ timeValueStr }}</mat-label>
        <input
            readonly
            matInput
            [matDatepicker]="picker"
            [formControl]="dateValue"
            ngDefaultControl
            (dateInput)="handleOnChange($event)"
            style="visibility: hidden"
        />
        <mat-icon #openButton [hidden]="isOpen" svgIcon="dfCalendar" (click)="handleOpenCalendar(picker)"></mat-icon>
        <mat-icon [hidden]="!isOpen" matDatepickerToggleIcon svgIcon="activeCalendar"></mat-icon>

        <mat-datepicker
            #picker
            (opened)="onOpen()"
            (dateInput)="handleOnChange($event)"
            (closed)="closed()"
            [calendarHeaderComponent]="exampleHeader"
        >
        </mat-datepicker>
    </mat-form-field>
</div>

<div #container></div>
