<div class="wrapper">
    <mat-form-field appearance="fill">
        <input
            readonly
            matInput
            [matDatepicker]="picker"
            [formControl]="dateValue"
            ngDefaultControl
            required
            (dateInput)="handleOnChange($event)"
        />
        <mat-icon [hidden]="isOpen" svgIcon="dfCalendar" (click)="picker.open()"></mat-icon>
        <mat-icon [hidden]="!isOpen" matDatepickerToggleIcon svgIcon="activeCalendar"></mat-icon>

        <mat-datepicker
            #picker
            (opened)="onOpen()"
            (dateInput)="handleOnChange($event)"
            (closed)="closed()"
            [calendarHeaderComponent]="exampleHeader"
        >
        </mat-datepicker>
    </mat-form-field>
</div>
<p>{{ dateTimeStr }}</p>
