<div class="location-list-wrapper">
    <kendo-treelist
        [data]="treeNodes"
        [fetchChildren]="fetchChildren"
        [hasChildren]="hasChildren"
        kendoTreeListExpandable
        [hideHeader]="true"
    >
        <kendo-treelist-column [expandable]="true" field="LocationName" title="LocationName" [width]="270">
            <ng-template kendoTreeListCellTemplate let-dataItem>
                <img class="location-icon" src="../../assets/icon/Location.svg" />
                {{ dataItem.LocationName }}
            </ng-template>
        </kendo-treelist-column>
        <kendo-treelist-column field="LocationID" title="LocationID"> </kendo-treelist-column>
        <kendo-treelist-column title="Size" [width]="40">
            <ng-template kendoTreeListCellTemplate let-dataItem>
                <img (click)="test(dataItem)" class="box-icon" src="../../assets/icon/EtcIcon.svg" />
            </ng-template>
        </kendo-treelist-column>
    </kendo-treelist>
</div>
