<div class="wrapper">
    <div class="form-header">
        <p class="title">DEAD LINK</p>
    </div>
    <div class="cate-box">
        <p class="cate-title">Phân loại</p>
        <div class="checkbtn-wrapper">
            <div class="type-check-btn">
                <input type="radio" name="link" />
                <label for="link">Dead link sản phẩm</label>
            </div>
            <div class="type-check-btn">
                <input type="radio" name="link" />
                <label for="link">Dead link bài viết & khác</label>
            </div>
        </div>
    </div>
    <div class="form-content-wrapper">
        <div class="description-box">
            <p class="box-title">Mô tả link</p>
            <input type="text" placeholder="Nhập thông tin mô tả" />
        </div>
        <div class="old-site-box">
            <p class="box-title">Link site cũ</p>
            <input type="text" placeholder="Nhập thông tin link site cũ" />
        </div>
        <div class="new-site-box">
            <p class="box-title">Link site mới</p>
            <input type="text" placeholder="Nhập thông tin link site mới" />
        </div>
    </div>
</div>
