<div class="wrapper-drawer">
    <kendo-drawer-container>
        <kendo-drawer
            #drawer
            [items]="items"
            mode="push"
            [mini]="true"
            [expanded]="true"
            (select)="onSelect($event)"
            [autoCollapse]="false"
            [isItemExpanded]="isItemExpanded"
        >
            <ng-template kendoDrawerHeaderTemplate>
                <div class="drawer-header">
                    <button kendoButton icon="menu" fillMode="flat" (click)="switchExpanded(drawer)"></button>
                    <img [hidden]="!expanded" src="../../../../assets/images/HachiLogo.png" />
                </div>
            </ng-template>

            <ng-template kendoDrawerItemTemplate let-item>
                <!-- [ngClass]="
                    item.selected && item.level == 0
                        ? 'selected-level0 '
                        : item.selected && item.level == 1
                        ? 'selected-level1'
                        : ''
                " -->
                <div
                    class="k-level-{{ item.level }} side-item"
                    [ngClass]="{
                        'selected-level0': item.selected && item.level == 0,
                        'selected-level1': item.selected && item.level == 1,
                        'item-level-0': item.level == 0
                    }"
                >
                    <span class="k-icon {{ item.icon }}"></span>
                    <span class="text" [ngClass]="item.text == selected ? 'active' : ''" *ngIf="expanded">
                        {{ item.text }}
                    </span>
                    <span
                        *ngIf="item.expanded && item.children && expanded"
                        class="k-icon k-i-arrow-chevron-down"
                        style="margin-left: auto; line-height: inherit"
                    ></span>

                    <span
                        *ngIf="!item.expanded && item.children && expanded"
                        class="k-icon k-i-arrow-chevron-right"
                        style="margin-left: auto; line-height: inherit"
                    ></span>
                </div>
            </ng-template>
        </kendo-drawer>

        <kendo-drawer-content>
            <app-coupon-page-management></app-coupon-page-management>
        </kendo-drawer-content>
    </kendo-drawer-container>
</div>
