<div class="wrapper-drawer">
    <kendo-drawer-container>
        <kendo-drawer
            #drawer
            [items]="sideBarItems"
            [mode]="'push'"
            expanded="true"
            [mini]="true"
            (select)="onSelect($event)"
        >
            <ng-template kendoDrawerHeaderTemplate>
                <div class="drawer-header">
                    <button kendoButton icon="menu" fillMode="flat" (click)="switchExpanded(drawer)"></button>
                    <img [hidden]="!expanded" src="../../../../assets/images/HachiLogo.png" />
                </div>
            </ng-template>
        </kendo-drawer>

        <kendo-drawer-content>
            <app-coupon-page-management></app-coupon-page-management>
        </kendo-drawer-content>
    </kendo-drawer-container>
</div>
