.wrapper-drawer {
    height: 100vh;
    .custom-toolbar {
        background-color: #5a6276;
        .mail-box {
            color: white;
        }
    }
}

::ng-deep .wrapper-drawer .k-drawer-container {
    .k-drawer-content {
        background-color: #edeff3;
        height: 100vh;
        overflow-y: scroll;
    }

    .k-drawer {
        background-color: #5a6276 !important;
        position: relative;
        z-index: 999999;

        .k-drawer-wrapper {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: white;
                opacity: 30%;
            }

            .drawer-header {
                display: flex;
                border-bottom: 1px solid white;
                padding: 10px;
                justify-content: space-between;

                img {
                    height: 32px;
                    width: 185px;
                }
            }
        }
    }

    .k-drawer-item:first-child {
        padding-top: 19px;
    }

    .k-drawer-item.k-selected {
        background-color: unset;
        color: white !important;

        &:hover {
            background-color: unset;
        }
    }

    .k-drawer-item {
        padding-block: unset;
        padding-inline: unset;
        gap: unset;
        color: white;
        justify-content: center;
        &:hover {
            background-color: unset !important;
        }

        &:focus:hover {
            background-color: unset !important;
            box-shadow: unset !important;
        }

        &:focus {
            box-shadow: unset !important;
            background-color: unset !important;
        }

        .k-level-1 {
            color: #959db3;
            font-size: 13px;
            font-weight: 700;
            padding-left: 28px;
            background-color: rgba(26, 35, 52, 0.4);
            padding: 18px 0 18px 53px;
            width: 100%;
        }
        .k-level-0 {
            color: white;
            font-size: 13px;
            font-weight: 600;
            display: flex;
            gap: 16px;
            width: 100%;
            padding-left: 16px;
            padding-top: 17px;
            padding-bottom: 15px;
        }
    }

    .k-i-arrow-chevron-right {
    }
}
.active {
    color: white !important;
}

.selected {
    background-color: rgba(26, 35, 52, 0.4);
}
