<div style="padding-bottom: 50vh">
    <table mat-table [dataSource]="links">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="title">
                <input type="checkbox" />
                Mô tả Link
            </th>
            <td mat-cell *matCellDef="let element">{{ element.description }}</td>
        </ng-container>
        <ng-container matColumnDef="old_link">
            <th mat-header-cell *matHeaderCellDef>Link site cũ</th>
            <td mat-cell *matCellDef="let element" class="my-custom-td">{{ element.old_link }}</td>
        </ng-container>
        <ng-container matColumnDef="new_link">
            <th mat-header-cell *matHeaderCellDef>Link site mới</th>
            <td mat-cell *matCellDef="let element">{{ element.new_link }}</td>
        </ng-container>
        <ng-container matColumnDef="show-btn">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" class="see-more">
                <svg width="16" height="3" viewBox="0 0 16 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M2 3C2.82843 3 3.5 2.32843 3.5 1.5C3.5 0.671573 2.82843 0 2 0C1.17157 0 0.5 0.671573 0.5 1.5C0.5 2.32843 1.17157 3 2 3Z"
                        fill="#959DB3"
                    />
                    <path
                        d="M8 3C8.82843 3 9.5 2.32843 9.5 1.5C9.5 0.671573 8.82843 0 8 0C7.17157 0 6.5 0.671573 6.5 1.5C6.5 2.32843 7.17157 3 8 3Z"
                        fill="#959DB3"
                    />
                    <path
                        d="M14 3C14.8284 3 15.5 2.32843 15.5 1.5C15.5 0.671573 14.8284 0 14 0C13.1716 0 12.5 0.671573 12.5 1.5C12.5 2.32843 13.1716 3 14 3Z"
                        fill="#959DB3"
                    />
                </svg>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['id', 'old_link', 'new_link', 'show-btn']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['id', 'old_link', 'new_link', 'show-btn']" class="table-row"></tr>
    </table>

    <div class="pg-container">
        <!-- <mat-paginator
            appPagination
            [length]="this.paginationInfo?.length"
            [pageSize]="this.paginationInfo?.pageSize"
            [hidePageSize]="true"
            (page)="onPageEvent($event)"
        >
        </mat-paginator> -->
    </div>
</div>
