.wrapper {
    position: relative;
    border-top: 1px solid #bdc2d2;

    margin: 0 7px 0 25px;
    padding-top: 20px;
    .handle-mapping-wrapper {
        position: absolute;
        top: 33%;
        left: 21%;
    }
}

.table-wrapper {
    background: transparent;
    border-spacing: 0 5px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 7px;
    .table-header {
        background: transparent;
        padding-bottom: 15px;
        .description-header {
            padding-left: 15px;
            display: flex;
            gap: 13px;
            align-items: center;
        }
    }

    th {
        color: #5a6276;
        font-size: 1.3rem;
        font-weight: 600;
    }

    .table-content {
        background: #fff;
        height: 74px;
        align-items: center;

        .old-col {
            width: 46.2rem;
            font-size: 1.3rem;
            font-weight: 400;
            color: #26282e;
            padding-right: 3.4rem;
        }

        .description-col {
            padding-left: 15px;
            font-size: 1.3rem;
            font-weight: 400;
            color: #26282e;
            width: 20.9rem;

            input {
                margin-right: 13px;
                margin-top: 1px;
                width: 13px;
                height: 13px;
            }
        }

        .new-col {
            font-size: 1.3rem;
            font-weight: 400;
            color: #26282e;
            width: 20.9rem;
        }
    }
}

.my-custom-td {
    width: 460px;
}

.my-custom-tr {
    margin-bottom: 1rem;
}

.see-more {
    border-left: 1px solid #edeff3;
    text-align: center;
    width: 40px;

    .show-menu-btn.selected:focus .icon svg {
        color: #fff;
    }
}

.mat-mdc-table .mdc-data-table__row {
    position: relative;
    background: transparent;
}

.mat-mdc-table thead {
    background: #fff;
}

td,
th {
    background-color: transparent;
}

.show-menu-btn {
    cursor: pointer;

    .icon {
        svg {
            color: #959db3 !important;
            fill: #959db3 !important;
            stroke: #959db3 !important;
        }
    }
    &.selected {
        background-color: #bdc2d2;
        height: 24px;
        width: 24px;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        position: absolute;
        left: 22%;
        bottom: 31%;
        color: white;
        align-items: center;
        display: flex;
        justify-content: center;

        .icon {
            svg {
                color: #fff !important;
                fill: #fff !important;
                stroke: #fff !important;
            }
        }
    }
}

.sub-menu {
    position: absolute;
    right: 78%;
    bottom: -18%;
    // z-index: 2;
    .edit-wrapper {
        display: flex;
        gap: 10px;
        align-items: center;
        border-top-left-radius: 3px;
        background-color: #959db3;
        color: white;
        font-size: 1.3rem;
        font-weight: 400;
        height: 30px;
        width: 150px;
        padding-left: 10px;
        cursor: pointer;
    }

    .delete-mapping {
        display: flex;
        gap: 10px;
        align-items: center;
        background-color: #bdc2d2;
        color: white;
        font-size: 1.3rem;
        font-weight: 400;
        height: 30px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        width: 150px;
        padding-left: 10px;
        cursor: pointer;
    }
}

.handle-mapping-wrapper {
    display: flex;
    height: 66px;
    box-shadow: 0px 5px 6px 0px #5a62764d;
    .selected-quantity {
        text-align: center;
        background-color: #008000;
        color: white;
        width: 68px;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
        .quantity {
            font-size: 30px;
            font-weight: 600;
        }
        .text {
            font-size: 13px;
            font-weight: 400;
            margin: -6px 0 0 0;
        }
    }

    .delete-wrapper {
        cursor: pointer;
        text-align: center;
        background-color: #ffffff;
        color: #fd7676;
        width: 20rem;
        align-items: center;
        padding-top: 8px;

        .delete-text {
            font-size: 1.3rem;
            margin-top: 5px;
        }
    }

    .close-action {
        display: flex;
        background-color: #ffffff;
        color: #959db3;
        width: 5.5rem;
        justify-content: center;
        align-items: center;
        height: 100%;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            display: flex;
            background: #bdc2d2;
            width: 1px;
            height: 50px;
            left: 0;
        }

        .close-icon {
            display: flex;
            cursor: pointer;
        }
    }
}

.handle-mapping-wrapper.hide {
    display: flex !important;
}

.see-more {
    position: relative;
}

.pagination-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding-top: 1.7rem;
    padding-bottom: 1.4rem;
    .total-pages {
        display: flex;
        gap: 24px;
    }

    .show-text {
        align-self: center;
    }

    .option-icon {
        cursor: pointer;
    }

    .quantity-page {
        display: flex;
        align-content: center;
        align-items: center;
        position: relative;

        svg {
            position: absolute;
            left: 2rem;
            top: 7px;
            cursor: pointer;
        }
    }
}

.select-list {
    position: relative;
    font-size: 1.3rem;
}

.select-list .options {
    position: absolute;
    display: none;
    bottom: 24px;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 0px #00000040;
    font-size: 1.3rem;
    min-width: 56px;
    left: -9px;

    li {
        padding: 5px 30px 8px 10px;
        cursor: pointer;
        font-weight: 400;
    }

    li:hover {
        background-color: #f5f6f8;
    }
}

.select-list .options.show {
    display: block !important;
}

::ng-deep .page-link {
    background: transparent !important;
    border: unset !important;
    font-size: 1.3rem;
    font-weight: 600;
    border: unset !important;
}

::ng-deep .page-item {
    color: #959db3 !important;
    border-radius: 3px !important;
    border: unset !important;
    box-shadow: unset !important;
    min-height: 29px;

    &:active {
        border: unset !important;
        background: transparent !important;
        box-shadow: unset !important;
    }
}

::ng-deep .pagination {
    display: flex;
    gap: 9px;
}

::ng-deep a[href]:hover {
    color: unset;
}

::ng-deep .pagination {
    background: transparent !important;
    border: unset !important;
    box-shadow: unset !important;
}

::ng-deep .page-item.active {
    background: #959db3 !important;
    color: white !important;
    border: unset !important;
    box-shadow: unset !important;
}

::ng-deep .page-item.disabled {
    opacity: 40%;
}

::ng-deep .page-item:first-child.disabled {
    opacity: 40%;
}

// ::ng-deep .page-item:first-child.disabled {
//     background-color: #f4f5f7 !important;
// }

::ng-deep .page-item:last-child {
    background-color: #ffffff !important;
    display: flex;
    align-items: center;
    // justify-content: center;
    text-align: center;
}

::ng-deep .page-item:first-child {
    background-color: #ffffff !important;
    display: flex;
    align-items: center;
    text-align: center;
    // justify-content: center;
}

::ng-deep .page-link:focus {
    box-shadow: unset !important;
}

.paginate-controller {
    display: flex;
    gap: 9px;
    .first-page,
    .last-page {
        padding: 0.375rem 0.75rem;
        background-color: white;
        color: #959db3;
        border-radius: 3px;
        font-size: 1.3rem;
        font-weight: 600;
        width: 4.5rem;
    }
}

.show-text {
    color: #959db3;
    font-size: 1.3rem;
    font-weight: 600;
}
