<div class="dashboard-wrapper">
    <div class="content-layout">
        <div class="side-bar">
            <p class="title">DEAD LINK</p>
        </div>
        <div class="dashboard-content">
            <app-header></app-header>
            <app-linkaction
                [isShowProduct]="isShowProduct"
                [isShowPost]="isShowPost"
                (onFilter)="onFilter($event)"
                (onShowAddForm)="onShowAddForm()"
                [isShowAddForm]="isShowAddForm"
                (onCloseForm)="onCloseForm()"
            ></app-linkaction>
            <app-searchbar
                (onResetFilter)="onResetFilter()"
                (onSearch)="onSearch($event)"
                [searchQuery]="searchQuery"
            ></app-searchbar>
            <app-listlink
                (onShowSeeMore)="onShowSeeMore()"
                [isShowSeeMore]="isShowSeeMore"
                [links]="filterData && filterData.length > 0 ? filterData : links"
            ></app-listlink>
        </div>
    </div>
</div>
