<div class="dashboard-wrapper">
    <div class="content-layout">
        <div class="side-bar">
            <p class="title">DEAD LINK</p>
        </div>
        <div class="dashboard-content">
            <app-header></app-header>
            <app-linkaction (onCloseForm)="onCloseForm()"></app-linkaction>
            <app-searchbar
                [isSearchValue]="isSearchValue"
                (onCheckSearchValue)="onCheckSearchValue($event)"
            ></app-searchbar>
            <app-listlink [isSearchValue]="isSearchValue"></app-listlink>
        </div>
    </div>
</div>
