/* You can add global styles to this file, and also import other style files */
@import 'normalize.css';
@import '~bootstrap/dist/css/bootstrap.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: scroll;
    --bs-pagination-focus-box-shadow: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f6f8;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #eaeaea;
}

html {
    font-size: 62.5%;
    overflow-y: overlay;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    overflow: hidden;
}

ul {
    padding-left: 0 !important;
    margin: 0 !important;
}

li {
    list-style-type: none;
}

button,
input {
    outline: none;
    border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0 !important;
    line-height: unset !important;
}

button {
    background-color: transparent;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;

    &:hover {
        color: black;
    }
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.time-picker-wrapper {
    padding: 15px 29px 21px 29px;
    border-top: 1px solid #dbdee7;
}

.time-picker-wrapper .allday-type {
    display: flex;
    align-items: center;
    gap: 9px;
}

.time-picker-wrapper .allday-type label {
    color: #26282e;
    font-size: 13px;
    font-weight: 400;
}

.time-picker-wrapper .selection-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 21px;
}

.time-picker-wrapper .selection-wrapper .time-selection {
    width: 102px;
    height: 24px;
    outline: none;
    border: 2px solid #36c8cf;
}

.time-picker-wrapper .selection-wrapper .time-type-wrapper {
    display: flex;
    gap: 13px;
}

.time-picker-wrapper .selection-wrapper .time-type-wrapper .type-selection {
    font-size: 13px;
    line-height: 16px;
    color: #26282e;
    padding: 13px;
    border-radius: 100%;
}

.time-picker-wrapper .selection-wrapper .time-type-wrapper .active {
    background-color: #36c8cf;
    border-radius: 100%;
    padding: 13px;
    color: white;
}

.time-picker-wrapper option {
    // border: none;
    // outline: none;
    // font-size: 18px;
    // padding: 5px 55px 5px 5px;
    // background-color: slategray;
    // color: white;
    // -webkit-appearance: none; /* for Safari */
    // margin: 0;
    // border-radius: 0;
}

.time-picker-wrapper option:hover {
    background-color: yellow;
}

// TEST
.custom-select {
    position: relative;
    width: 10rem;
    margin-right: 1rem;
}

.custom-select[open] {
    z-index: 1;
}

.radios {
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 3px;
    background-color: #ffffff;
    border: 2px solid #36c8cf;
    list-style: none;
}

.radios::-webkit-details-marker {
    display: none;
}

.custom-select[open] .radios:before {
    content: '';
    display: block;
    width: 100vw;
    height: 100vh;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
}

.radios:after {
    content: '';
    display: inline-block;
    float: right;
    width: 0.5rem;
    height: 0.5rem;
    border-bottom: 1px solid currentColor;
    border-left: 1px solid currentColor;
    border-bottom-left-radius: 2px;
    transform: rotate(134deg) translate(-38%, 0%);
    transform-origin: center center;
    transition: transform ease-in-out 100ms;
}

.radios:focus {
    outline: none;
}

.custom-select[open] .radios:after {
    transform: rotate(-45deg) translate(68%, 0%);
}

.list {
    width: 100%;
    position: absolute;
    top: calc(100% + 0.5rem);
    left: 0;
    box-sizing: border-box;
    max-height: 200px;
    overflow-y: auto;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px 0px #5a627680;
}

.list li {
    margin: 0;
}

.list li:first-child {
    padding-top: 0;
}

.list li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.list::-webkit-scrollbar {
    width: 6px;
    background-color: #ffffff;
}

.list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #bdc2d2;
}

/* FAKE SELECT */

summary.radios {
    counter-reset: radios;
}

summary.radios:before {
    content: var(--selection);
}

.radios input[type='radio'] {
    counter-increment: radios;
    appearance: none;
    display: none;
}

.radios input[type='radio']:checked {
    display: inline;
    --display: block;
}

.radios input[type='radio']:after {
    content: attr(title);
    display: inline;
    font-size: 13px;
    color: #26282e;
    opacity: 40%;
}

ul.list {
    counter-reset: labels;
}

.list li label {
    width: 100%;
    display: block;
    cursor: pointer;
    padding: 0 11px;
    font-size: 13px;
    height: 30px;
}

.list li label:hover {
    background-color: #f5f6f8;
}

.list li label span {
    --display: none;
    display: var(--display);
    width: 1rem;
    height: 1rem;
    border: 1px solid #727272;
    border-radius: 3px;
}
